<div class="card-deck">
  <div class="card mb-1">
    <h4 [ngClass]="{'card-header': true,
    'bg-warning': equipe.classement === 1,
    'bg-secondary': equipe.classement === 2,
    'bg-info': equipe.classement === 3}">
      <div class="row">
        <span class="col-md-6">{{ equipe.nom }}</span>
        <span class="col-md-3">{{ equipe.score}} point<span *ngIf="equipe.score>1">s</span></span>
        <span class="col-md-3">{{ equipe.nbGoldenPointsRestants}} GP ({{ equipe.nbGoldenPointsGagnes }} gagné<span *ngIf="equipe.nbGoldenPointsGagnes>1">s</span>)</span>
      </div>
    </h4>
    <div class="row">
      <div class="col-md-11">
        <h5 *ngIf="equipe.bonusList">Bonus achetés :</h5>
        <ul>
          <div *ngFor="let bonus of equipe.bonusList">
            <p *ngIf="!bonus.utilise" class="alert alert-secondary">- {{bonus.type}} <span
              class="badge badge-pill badge-primary">acheté le {{bonus.dateAchat | date}}</span></p>
            <p *ngIf="bonus.utilise" class="alert alert-dark">- {{bonus.type}} <span
              class="badge badge-pill badge-danger">utilisé le {{bonus.dateUtilisation | date}}</span>
            </p>
          </div>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

