<!--<li class="list-group-item">-->
<!--  <h4>-->
<!--    <span>{{ equipe.nom }}  :  {{ equipe.score}} points et {{ equipe.nbGoldenPointsRestants}} GP ({{ equipe.nbGoldenPointsGagnes }} gagnés)</span>-->
<!--  </h4>-->
<!--  <h5 *ngIf="equipe.bonusList">-->
<!--    <span>Bonus achetés : </span>-->
<!--  </h5>-->
<!--  <ul>-->
<!--    <div *ngFor="let bonus of equipe.bonusList">-->
<!--      <p *ngIf="!bonus.utilise" class="alert alert-light">- {{bonus.type}} <span class="badge badge-pill badge-primary">acheté le {{bonus.dateAchat | date}}</span></p>-->
<!--      <p *ngIf="bonus.utilise"class="alert alert-dark">- {{bonus.type}} <span class="badge badge-pill badge-danger">utilisé le {{bonus.dateUtilisation | date}}</span></p>-->
<!--    </div>-->
<!--  </ul>-->
<!--</li>-->

<li class="card-deck">
  <div class="card mb-1">
    <h4 class="card-header">
      <div class="row">
        <span class="col-md-6">{{ equipe.nom }}</span>
        <span class="col-md-3">{{ equipe.score}} point<span *ngIf="equipe.score>1">s</span></span>
        <span class="col-md-3">{{ equipe.nbGoldenPointsRestants}} GP ({{ equipe.nbGoldenPointsGagnes }} gagné<span *ngIf="equipe.nbGoldenPointsGagnes>1">s</span>)</span>
      </div>
    </h4>
    <div class="row">
      <div class="col-md-11">
        <h5 *ngIf="equipe.bonusList">Bonus achetés :</h5>
        <ul>
          <div *ngFor="let bonus of equipe.bonusList">
            <p *ngIf="!bonus.utilise" class="alert alert-light">- {{bonus.type}} <span
              class="badge badge-pill badge-primary">acheté le {{bonus.dateAchat | date}}</span></p>
            <p *ngIf="bonus.utilise" class="alert alert-dark">- {{bonus.type}} <span
              class="badge badge-pill badge-danger">utilisé le {{bonus.dateUtilisation | date}}</span>
            </p>
          </div>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</li>

